*{
  margin: 0;
  padding: 0;
}

html{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(169,169,198,1) 25%, rgba(115,115,213,1) 35%, rgba(90,136,222,1) 49%, rgba(115,115,213,1) 81%, rgba(0,212,255,1) 100%);
}

.navbar{
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  
}

.homepage{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.emptyDiv{
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.emptyTitle{
  margin-top: 200px;
  margin-left: 20%;
  margin-right: 20%;
  border: 5px dashed black;
  border-radius: 10px;
  color: black;
  padding: 10px;
  font-size: 7em;
}

.navbar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover{
  background-color: white;
  color: black;
}

.button {
  background-color: cornflowerblue;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 3px;
  border-width: 0px;
}

.cart{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 100px;
}

.product_1{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px 30px 250px auto auto;
  margin: 20px;
  align-self: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  max-width: 300px;
  max-height: 550px;
  margin-top: 100px;
  padding: 20px;
}

.product_2{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px 30px auto;
  margin: 20px;
  align-self: center;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  max-width: 300px;
  max-height: 550px;
  margin-top: 100px;
  padding: 20px;
}

.bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.amount{
  align-self: center;
  margin-left: 10px;
}

.image{
  width: 185px;
  height: 136px;
}

.price{
  margin: 15px;
}

.money{
  display: flex;
  flex-direction: row;
}

.boughtProducts{
  display: flex;
  flex-direction: column;
}

.productsTitle{
  align-self: center;
}

.formTitle{
  text-align: center;
}

.form-div{
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
  margin-top: 100px;
  justify-content: center;
  border: 3px solid black;
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
}

.submitButton{
  grid-column: 1 / span 2;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
}

label{
  margin-right: 10px;
  font-weight: bolder;
}